<div class="contactus-page">
  <div class="images-section">
    <div class="image-2">
      <img src="" alt="" class="" />
    </div>
    <div class="image-1">
      <img src="" alt="" class="" />
    </div>
  </div>

  <div class="form-section generic-form">
    <div class="generic-form__header">Contact Us</div>
    <input type="text" placeholder="First Name" />
    <input type="text" placeholder="Email" />
    <input type="text" placeholder="Company" />
    <input type="text" placeholder="Phone" />
    <textarea name="" id="" rows="2" placeholder="Enter Description"></textarea>

    <div class="text-center">
      <button class="ot-button ot-button--main ot-px-sm">Submit</button>
    </div>
  </div>
</div>
