.datepicker {
  .mat-form-field-wrapper {
    padding-bottom: 0px;
  }
}

.over18-div {
  mat-checkbox {
    .mat-checkbox-layout {
      display: flex !important;
      text-align: left;
      white-space: unset;
    }
  }
}
